:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 35px;
    flex-direction: column;
    border: 3px solid black;

    a {
       
    }

    .custom--cards--container {
        min-height: 100vh;
        display: flex;
        width: 60%;
        flex-wrap: wrap;
        gap: 15px;
    }

    .custom--card {
        width: 320px;
        max-height: 250px;
        display: flex;
        padding: 15px;
        border-radius: 5px;
        background: white;
        color: black;
        flex-wrap: wrap;
        // border: 3px solid rgb(255, 0, 0);
        justify-content: space-evenly;
        transform: scale(0.97);
        transition: all ease 0.5s;
        text-decoration: none;
        color: black;

        &:hover {
            cursor: pointer;
            transform: scale(1);
        }
    }

    h2 {
        font-size: 26px;
        padding: 5px;
        font-style: italic;
        font-weight: bold;
    }

    .img--pokemon {
        background: url("../../../../assets/bg-poke-card.svg");
        background-size: cover;
        align-self: flex-end;
        padding: 15px;
        width: 100px;

        img {
            transform: scale(2);
        }
    }

    .container--skils {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 12px 0;
        gap: 15px;
        font-weight: bold;
        color: rgb(94, 94, 94);
    }

    .skill {
        padding: 3px 14px;
        max-width: 120px;
        background: #EFEFEF;
        border-radius: 32px;

    }

    .description {
        max-width: 125px;
        height: fit-content;
    }


}
