:host {

    form {
        padding: 15px;
        margin: 25px auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        input {
            width: 95%;
            border: none;
            outline: none;
            background: none;
            color: white;
           

            &::placeholder {
                color: white;
            }
        }

        img {
            cursor: pointer;
        }

    }
}