<div class="container custom--container--main text-center mt-5">
    <div class="logo">
        <img src="../../../assets/logo.svg" alt="logo">
    </div>
    <app-search-input></app-search-input>
    <div class="container-fluid custom--cards--container">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>
</div>